# 12. What is the average number of games per set in men's matches compared to women's matches?

In [2]:

import pandas as pd
MatchHomeTeamInfo = pd.read_csv(r"E:\Data Analysis Course\Data analyse\tennis_data_analysis\data\raw\MatchHomeTeamInfo.csv")
MatchAwayTeamInfo = pd.read_csv(r"E:\Data Analysis Course\Data analyse\tennis_data_analysis\data\raw\MatchAwayTeamInfo.csv")
all_players = pd.concat([MatchHomeTeamInfo, MatchAwayTeamInfo])
GameInfo = pd.read_csv(r"E:\Data Analysis Course\Data analyse\tennis_data_analysis\data\raw\GameInfo.csv")

GameInfo_with_gender = pd.merge(GameInfo, all_players, on='match_id')

# Drop duplicates and keep the last record based on set_id and game_id
GameInfo_with_gender_cleaned = GameInfo_with_gender.sort_values(by=['match_id', 'set_id', 'game_id']).drop_duplicates(subset=['match_id', 'set_id'], keep='last')

GameInfo_with_gender_cleaned=GameInfo_with_gender_cleaned[["match_id" ,"game_id" , "gender" ]]
GameInfo_Male_cleaned = GameInfo_with_gender_cleaned[GameInfo_with_gender_cleaned['gender'] == 'M']
GameInfo_Female_cleaned = GameInfo_with_gender_cleaned[GameInfo_with_gender_cleaned['gender'] == 'F']
avg_games_per_set_men = GameInfo_Male_cleaned["game_id"].mean()
avg_games_per_set_women = GameInfo_Female_cleaned["game_id"].mean()

# Print the results
print(f"Average number of games per set in men's matches: {avg_games_per_set_men}")
print(f"Average number of games per set in women's matches: {avg_games_per_set_women}")

Average number of games per set in men's matches: 9.213686958911639
Average number of games per set in women's matches: 8.931094383323682

In [5]:
import scipy.stats as stats

t_statistic, p_value = stats.ttest_ind (GameInfo_Male_cleaned["game_id"],
                                        GameInfo_Female_cleaned["game_id"])
print(f"T-statistic: {t_statistic}, p-value: {p_value}")

# Interpretation
alpha = 0.05
if p_value < alpha:
    print ('Samples shows significant difference (reject H0)')
    print ('so there is significant difference between average number of games per set based on gender')
else:
    print ( 'Samples dose not show significant difference  (fail to reject H0)')
    print ('so there is not significant difference average between number of games per set based on gender')

T-statistic: 7.739154137176257, p-value: 1.0681743235485147e-14
Samples shows significant difference (reject H0)
so there is significant difference between average number of games per set based on gender

In [3]:
GameInfo

,match_id,set_id,game_id,point_id,home_point,away_point,point_description,home_point_type,away_point_type,home_score,away_score,serving,scoring
0,12260075,2,10,0,15,0,0,1,5,4,6,2,2
1,12260075,2,10,1,15,15,0,5,1,4,6,2,2
2,12260075,2,10,2,15,30,0,5,1,4,6,2,2
3,12260075,2,10,3,15,40,0,5,3,4,6,2,2
4,12260075,2,9,0,15,0,1,1,5,4,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467008,12385017,1,2,8,40,A,0,5,1,1,1,2,2
1467009,12385017,1,1,0,15,0,0,1,5,1,0,1,1
1467010,12385017,1,1,1,30,0,0,1,5,1,0,1,1
1467011,12385017,1,1,2,30,15,0,5,1,1,0,1,1
1467012,12385017,1,1,3,40,15,0,1,5,1,0,1,1